<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base-stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>bola-stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boton-accion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>boton-direccion.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,159},{57,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,64}}</string>
                <key>sourceSize</key>
                <string>{57,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mando.png</string>
            <key>size</key>
            <string>{127,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd898bbd43e8969be2bbc1f7a1305a8d:e652f63da74a3df1497d0fc7ed2f56b2:00a7d959959402240c0d72748e752d6b$</string>
            <key>textureFileName</key>
            <string>mando.png</string>
        </dict>
    </dict>
</plist>
