<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base-stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>bola-stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boton-accion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>boton-direccion.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,312},{113,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,128}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mando.png</string>
            <key>size</key>
            <string>{247,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2c870f385a848f9631ade3bb8abf9f2:7731f3b22e6838d9b0a811283a535bef:00a7d959959402240c0d72748e752d6b$</string>
            <key>textureFileName</key>
            <string>mando.png</string>
        </dict>
    </dict>
</plist>
